name: CI-CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      
      - name: Build Docker Image
        run: docker build -t my-nginx-app .

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.0.0
        with: 
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            docker stop my-container || true
            docker rm my-container || true
            docker pull nginx
            docker build -t my-nginx-app .
            docker run -d -p 8080:80 --name my-container my-nginx-app